<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin Panel</title>

		<link href="/static/css/bootstrap.min.css" rel="stylesheet">

		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="wrapper">
            {% include "sidebar.html" %}

			<div id="content">
			    {% block content %}{% endblock %}
            </div>
		</div>
		<script src="/static/js/jquery-1.12.0.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.dataTables.min.js"></script>
		<script src="/static/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript">
			 $(document).ready(function () {
			 	$("#sidebarCollapse, #sidebarExtend").on("click", function () {
					$("#sidebar").toggleClass("active");
				});
				$("#sorted").DataTable( {
					"bStateSave": true,
					"sPaginationType": "full_numbers"
				});
			 });
		</script>
		<script type="text/javascript">
			function navConfirm(loc) {
				if (confirm("Are you sure?")) {
					window.location.href = loc;
				}
				return false;
			}
		</script>
	</body>
</html>