{% extends "base.html" %}

{% block content %}
	<form method="post" action="/save?table={{ table_name }}&mod={{ mod }}&mod_value={{data[0]}}&act={{ act }}" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Add New {{ table_name|capitalize }}</legend>

			{% for idx, d in columns %}
			<label>{{ d|capitalize }}</label>
			<input 
				class="form-control" 
				type="text" 
				name="{{ d }}"
				value="{{ data[idx] }}" /><br>
			{% endfor %}

			<input type="submit" value=" Save " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}