{% extends "base.html" %}

{% block content %}
	{% if output is defined and output != '' %}
		<div class="alert alert-success" role="alert">
			{{ output|safe }}
		</div>
	{% endif %}
	{% if error is defined and error != '' %}
		<div class="alert alert-danger" role="alert">
			<span class="sr-only">Error:</span>
			{{ error }}
		</div>
	{% endif %}
	<form method="post" action="/sql" enctype='multipart/form-data'>
		<fieldset>
			<legend class="hidden-first">Execute SQL</legend>

			<textarea style="resize: none; height: 400px;" class="form-control" name="code">{% if code is defined and code != '' %}{{ code }}{% else %}SHOW TABLES;{% endif %}</textarea><br>

			<input type="submit" value=" Execute " class="btn btn-success">
		</fieldset>
	</form>
{% endblock %}