<nav id="sidebar" class="bg-primary">
	<div class="sidebar-header">
		<h3>
			Rbot Admin<br>
		</h3>
	</div>
	<ul class="list-unstyled components">
		<li>
			<a href="/" aria-expanded="false">
				<i></i>
				Home
			</a>
		</li>
		
		<li>
			<a href="/sql" aria-expanded="false">
				<i></i>
				Execute SQL
			</a>
		</li>

		<li>
			<a href="/dump" aria-expanded="false">
				<i></i>
				Create dump
			</a>
		</li>

		{% for table_name, table_count in tables_and_counts %}
		<li>
			<a href="/table/{{ table_name }}">
				<i></i>
				{{ table_name|capitalize }}
				<span class="pull-right">{{ table_count }}</span>
			</a>
		</li>
		{% endfor %}

		<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
	</ul>
</nav>